<footer class="site-footer clearfix">
 <section class="copyright"><a href="<%- config.root %>"><%- config.title %></a> &copy; 2018 &bull; All rights reserved.</section>
 <section class="poweredby">Proudly published with <a class="icon-ghost" href="https://hexo.io/"> Hexo</a></section>
</footer>
